<!doctype html>
<html lang="en">
  <head>
    <title>{% block title %}{% endblock %}</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
  
  </head>
  <body>
    <div class="container">
      <header>
        <div class="row justify-content-center align-items-center">
          <div class="col-auto"><h1>РУБЛЁВ</h1></div>
          <div class="col-auto"> 
            <h2 align="center">МИКРОЗАЙМЫ НАЛИЧНЫМИ</h2>
            <div class="row justify-content-center">
              <div class="col-auto">ООО "Микрокредитная компания "Нейт"</div>
              <div class="col-auto">реестр № 651403595004833</div>
            </div>
          </div>
          <div class="col-auto"><h4>(800)1234567</h4></div>
        </div>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse justify-content-center" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a class="nav-item nav-link active" href="{% url 'index' %}">КАЛЬКУЛЯТОР <span class="sr-only">(current)</span></a>
              <a class="nav-item nav-link" href="#">ДОКУМЕНТЫ</a>
              <a class="nav-item nav-link" href="#">ОФИСЫ</a>
              <a class="nav-item nav-link" href="{% url 'feedback' %}">ОБРАТНАЯ СВЯЗЬ</a>
            </div>
          </div>
        </nav>
      </header>

   
      <main>
{% block main %} 
        
{% endblock main %}
      </main>
      <footer>
        <div class="row justify-content-center">
          <div> ООО "МКК Нейт", 2017</div>
        </div>
      </footer>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>

   
  </body>
</html>
